# Python
__pycache__/
*.py[cod]
*.pyo

# Backend virtual environment
backend/.venv/

# Other virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Python build
build/
dist/
wheels/
*.egg-info/

# Node
node_modules/
frontend/node_modules/

# Frontend build
frontend/dist/

# OS
.DS_Store
Thumbs.db